.form_parent{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: center;
    width: 50%;
    
}

.form_parent >label{
    text-align: left;
    text-transform: uppercase;
    font-size: small;
    margin-bottom: 7px;
}

.form_parent>input{
    background-color: rgb(236, 69, 186);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    
}

.expirybox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    
    
    
    
}

.expirybox >div{

text-align: left;
margin-bottom: 10px;
}

.expirybox label{

  
    padding-bottom: 10px;
    margin-bottom: 10px;
}
