.parent{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.parent >div{
    width: 200px;
    border: 1px solid black;
}

.parent2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}